@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-weight: 500;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-align: center;
  background-color: #333333;
}

h1 {
  font-size: 56px;
  margin: 65px 0 40px;
}

p {
  text-align: left;
  font-size: 36px;
  line-height: 42px;
  font-weight: 400;
  margin-bottom: 48px;
}

.container {
  max-width: 1234px;
  margin: 0 auto;
  padding: 100px 16px;
}

.santa {
  width: 260px;
}
